ShootCsGo/Saved/Autosaves/
ShootCsGo/Saved/Backup/
ShootCsGo/Intermediate/AssetRegistryCache/
ShootCsGo/Saved/Config/CrashReportClient/UE4CC-Windows-AA730CAE4841555020F6F4AE21CED966/CrashReportClient.ini
ShootCsGo/Saved/HardwareSurvey/dxdiag.txt
ShootCsGo/Saved/Logs/ShootCsGo.log
